.navBarRightSide a {
  margin: 0 24px;
  text-decoration: none;
  color: darkslateblue;
  padding: 12px 24px;
  transition: 0.3s;
}
.navBarRightSide a:nth-child(1):hover {
  background-color: #f18794;
  color: white;
  border-radius: 999px;
}
.navBarRightSide a:nth-child(2):hover {
  background-color: #fce175;
  color: white;
  border-radius: 999px;
}
.navBarRightSide a:nth-child(3):hover {
  background-color: #a6e1ff;
  color: white;
  border-radius: 999px;
}
.navBar-box {
  width: calc(100% - 48px);
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
  position: fixed;
  top: 0;
  z-index: 1000;
}
